extends layout

block sidebar
	ul(class='nav nav-list')
		li(class='nav-header') Standings
		li
			a(href='/') Current Driver Standings
		li(class='active')
			a(href='/constructor-standings') Current Constructor Standings

block content
		h1 Node F1
		h2= title
		h3= RaceData.season
		ul  
			each item in RaceData.StandingsLists[0].ConstructorStandings
				li #{item.position}.  #{item.Constructor.name} 
					b #{item.points} 
					| points