extends ../layout

block content
		h1 Node F1
		h2= title
		h3= RaceData.season
		ul  
			each item in RaceData.StandingsLists[0].ConstructorStandings
				li #{item.position}.  #{item.Constructor.name} 
					b #{item.points} 
					| points